$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
  padding-top: 75px;
  background-image: url('https://i.imgur.com/sc99Bbn.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-style {
  margin: 10px;
}

#register-success {
  text-align: center;
  color: #1CB94E;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 22px;
}

#success-message {
  text-align: center;
  color: #1CB94E;
  font-size: 22px;
  font-weight: bold;
  padding: 30px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}

.panel-heading a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 18px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-heading a.active {
	color: #029f5b;
	font-size: 22px;
}

.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.btn-login,
.btn-get-round {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 16px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.btn-register,
.btn-add-round {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 16px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/*Golf Round Tracker*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.golf-tracker {
	width: 90%;
	margin: 0 auto 20px;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.golf-tracker label {
  font-weight: 700;
  font-size: 20px;
  display: block;
  float: left;
  width: 25%;
  padding: 15px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  background: #fff;
  border-bottom: 7px solid #5DB3DE;
  color: #999;
  display: block;
  padding: 20px;
}

.golf-tracker .tab-content p,
.golf-tracker .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
  text-align: center;
}

.golf-tracker [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 7px #5DB3DE;
}

// .golf-tracker [id^="tab"]:checked + label .fa {
//   color: #0CE;
// }

// label .fa {
//   font-size: 1.3em;
//   margin: 0 0.4em 0 0;
// }

/*Media query*/
@media only screen and (max-width: 930px) {
  .golf-tracker label span {
    font-size: 16px;
  }
  .golf-tracker label .fa {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .golf-tracker label {
    width: 50%;
  }
  .golf-tracker label .fa {
    font-size: 16px;
  }

  .golf-tracker {
    width: 95%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
